:root {
  --foreground-color: #000000;
  --background-color: #f8faf9;
  --header-background: #ffffff45;
  --primary-color: #1922FB;
  --secondary-color: #FFC700;
}

[ data-theme="dark"] {
  --foreground-color: #f8faf9;
  --background-color: #1a1a1a;
  --primary-color: #FFC700;
  --secondary-color: #1922FB;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--foreground-color) !important;
  background: var(--background-color) !important;
  line-height: 1.6;
  font-family:
    Cantarell,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* div {
  color: var(--foreground-color);
  background-color: var(--background-color);
} */