:root {
  --foreground-color: #000000;
  --background-color: #fafafa;
  --header-background: #ffffff45;
  --primary-color: #1922FB;
  --secondary-color: #FFC700;
  --primary-color-light: #1922FB1a;
  --secondary-color-light: #FFC70011;
}

[ data-theme="dark"] {
  --foreground-color: #fafafa;
  --background-color: #1a1a1a;
  --primary-color: #FFc700;
  --secondary-color: #1922FB;
  --primary-color-light: #FFC70022;
  --secondary-color-light: #3037f53a;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--foreground-color) !important;
  background: var(--background-color) !important;
  line-height: 1.6;
  font-family:
    Cantarell,
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.primary {
  color: var(--primary-color);
}

.secondary {
  color: var(--secondary-color);
}
.orange{
  color: #FFC700;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}


/* Scroll Bar  */

::-webkit-scrollbar {
  width: 7px;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  border-radius: 2px;
}

::-webkit-scrollbar-track:hover {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color);
}