.logo {
  font-family: "Playfair";
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
}

.logo svg {
  width: 27px;
  height: 27px;
}

.logo p {
  font-size: 22px;
}

.logo .font-bold:first-of-type {
  font-size: 30px;
}

.logo .font-bold:last-child {
  font-size: 24px;
}

.nav-links {
  position: fixed;
  margin: 0;
  left: 1%;
  right: auto;
  z-index: 999;
  transition: .4s;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-links ul {
  border-radius: 25px;
  align-self: center;
}

.nav-links li {
  width: max-content;
  padding: 4px 10px;
  border-radius: 25px;
  font-family: "Lato";
  cursor: pointer;
}

.nav-links li:first-child {
  padding: 7px 10px;
}

.desktop-menu li.active {
  color: #1e293b;
  background-color: #f8fafc;
}


.language-selector {
  padding: 2px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  cursor: pointer;
}

.addtional-language {
  position: absolute;
  top: 30px;
  left: 0;
}

.flag {
  width: 25px;
  height: 15px;
  object-fit: cover;
}

.menu-icons {
  display: none;
}

.footer hr {
  width: 100%;
}

.footer-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  min-height: 190px;
}

.footer a:hover {
  text-decoration: underline;
}

.mobile {
  display: none;
}

section {
  overflow: hidden;
}

.d-none {
  display: none;
}

@media screen and (max-width: 999px) {

  .header {
    margin: 0;
    gap: 5px;
    padding: 30px 40px;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 99999;
    backdrop-filter: blur(5px);
  }

  .logo {
    gap: 4px;
    z-index: 99;
  }

  .logo svg {
    width: 24px;
    height: 24px;
  }

  .logo p {
    font-size: 22px;
  }

  .logo .font-bold:first-of-type {
    font-size: 28px;
  }

  .logo .font-bold:last-child {
    font-size: 22px;
  }

  .menu-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
    width: 30px;
    height: 27px;
    border-radius: 7px;
  }

  .burger {
    width: 18px;
    height: 1px;
    border: 1px solid;
    transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .menu-icons.opened .burger:first-child {
    transform: rotate(-45deg) translate(-3px, 3px);
  }

  .menu-icons.opened .burger:last-child {
    transform: rotate(45deg) translate(-3px, -3px);
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
  }

  .nav-links {
    position: fixed;
    left: 0;
    right: 0;
    /* width: calc(100% - 40px); */
    margin: 0 auto;
  }

  .nav-links ul {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
    right: 0;
    height: 0px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    border-radius: 0;

    color: white;
    background-color: black;
    padding: 0;
    gap: 20 px;
    z-index: -1;
    transition: all .7s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  .nav-links li {
    display: none;
  }

  .nav-links li:hover {
    background-color: transparent;
  }

  .nav-links li a {
    opacity: 0;
    font-size: 15px;
    animation: endTransition 0.5s ease-in-out forwards;
    z-index: -11;
  }

  .mobile-menu ul {
    z-index: -1;
    height: 275px;
    padding: 18px;
  }

  .mobile-menu li {
    display: flex;
    width: 100%;
  }

  .mobile-menu ul li a {
    opacity: 4;
    z-index: -1;
  }

  .footer {
    padding: 40px;
  }

  .footer-left {
    width: 40%;
    max-width: 40%;
  }

  .footer-left h5 {
    width: 70%;
  }

  .footer-right {
    width: 60%;
    max-width: 60%;
    display: flex;
    justify-content: space-between;
  }

  .footer-col {
    width: 40%;
  }
}

@media screen and (max-width: 767px) {

  .header,
  .footer {
    padding: 15px;
  }

  .footer-grid {
    flex-direction: column;
    gap: 2rem;
  }

  .footer-left,
  .footer-right {
    width: 100%;
    max-width: 100%;
  }

  .footer-left {
    min-height: 100px;
  }


  .footer-right {
    flex-wrap: wrap;
    gap: 8px;
  }

  .footer-col {
    width: 40%;
    gap: 1rem;
  }

  .footer-col:first-child {
    order: 3;
  }

  .footer-col h4 {
    font-weight: 600;
  }

}